.App {
  height: 90vh;
  padding: 25px;
}

.header {
  text-align: center;
  font-size: 30px;
  color: #e3f2fd;
}

.message-container {
  margin-top: 25px;
  
  display: flex;
  flex-direction: column;
}

.user-icon {
  color: #05c361;
}

.bot-icon {
  color: aqua;
}

.message {
  gap: 87px;
  display: flex;
  font-weight: 300;
  color: white;
  padding: 16px;
  margin-bottom: 10px;
  border-radius: 15px;
  font-size: medium;
  background: #464444;
  padding-left: 109px;
  align-items: center;
  margin-bottom: 30px;
}

.user {
  font-size: medium;
}

.bot {
  font-size: medium;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

input[type='text'] {
  flex: 1;
  padding: 20px;
  border-radius: 15px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  color: #333333;
  font-size: 16px;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.sending {
  color: #05c361;
}

.footer {
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  font-size: 15px;
  color: #f6f0f0;
}
